In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) of the same type and an associated array of data labels, called its index.

In [2]:
obj = pd.Series([4, 7, -5, 3])

In [3]:
obj[obj>2]

0    4
1    7
3    3
dtype: int64

Should you have data contained in a Python dictionary, you can create a Series from it by passing the dictionary:

In [4]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Convert back to dict

In [5]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

When you are only passing a dictionary, the index in the resulting Series will respect the order of the keys according to the dictionaryâ€™s keys method, which depends on the key insertion order
You can override this by passing an index with the dictionary keys in the order you want them to appear in the resulting Series:

In [7]:
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

The isna and notna functions in pandas should be used to detect missing data:

In [8]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [10]:
obj4.name = "Population"
obj4.index.name = "State"
obj4

State
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

## Dataframe

Reading Data Frame from csv file

In [31]:
headers = ["Timestamp","open","Close","High","Low","Volume","Date","Day","Candle","Points","Percentage Change"]
nifty_df = pd.read_csv('../files/nifty_60minute.csv',names=headers)
nifty_df.dtypes

Timestamp             object
open                 float64
Close                float64
High                 float64
Low                  float64
Volume                 int64
Date                  object
Day                    int64
Candle                object
Points               float64
Percentage Change    float64
dtype: object

In [34]:
nifty_df.tail(5)

,Timestamp,open,Close,High,Low,Volume,Date,Day,Candle,Points,Percentage Change
14633,2023-07-03T13:15:00+0530,19320.30,19327.10,19300.75,19304.60,0,2023-07-03,0,T13_15,121.40,0.63
14634,2023-07-03T14:15:00+0530,19304.20,19329.85,19288.60,19316.20,0,2023-07-03,0,T14_15,133.00,0.69
14635,2023-07-03T15:15:00+0530,19316.55,19344.60,19314.75,19322.55,0,2023-07-03,0,T15_15,139.35,0.73
14636,2023-07-03T16:15:00+0530,19322.55,19322.55,19322.55,19322.55,0,2023-07-03,0,T16_15,139.35,0.73
14637,2023-07-03T17:15:00+0530,19322.55,19322.55,19322.55,19322.55,0,2023-07-03,0,T17_15,139.35,0.73

In [38]:
nifty_df.iloc[-1]

Timestamp            2023-07-03T17:15:00+0530
open                                 19322.55
Close                                19322.55
High                                 19322.55
Low                                  19322.55
Volume                                      0
Date                               2023-07-03
Day                                         0
Candle                                 T17_15
Points                                 139.35
Percentage Change                        0.73
Name: 14637, dtype: object

### Index Objects
pandasâ€™s Index objects are responsible for holding the axis labels (including a DataFrameâ€™s column names) and other metadata (like the axis name or names).